<?xml version="1.0"?>
<!-- Go2 URDF - to be populated with official Unitree URDF or custom model -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="go2">

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.6 0.3 0.1"/>
      </geometry>
    </visual>
  </link>

</robot>
